{% extends "base.html" %}

{% block nav_home_url %}/staff_home{% endblock %}

{% block nav_links %}
<li><a href="/staff_home" id="nav-dashboard"><i class="fa-solid fa-house"></i> Home</a></li>
<li><a href="/staff_view_tasks" id="nav-tasks"><i class="fa-solid fa-clipboard-list"></i> My Tasks</a></li>
<li><a href="/staff_report_bin" id="nav-report"><i class="fa-solid fa-flag"></i> Report Bin</a></li>
<li><a href="/staff_notifications" id="nav-notif"><i class="fa-solid fa-bell"></i> Notifications</a></li>
<li><a href="/signout" class="nav-logout" id="nav-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var path = window.location.pathname;
    var links = document.querySelectorAll('.nav-links a');
    links.forEach(function(link) {
      if (link.getAttribute('href') === path) {
        link.classList.add('active');
      }
    });
  });
</script>
{% endblock %}
