{% extends "base.html" %}

{% block nav_home_url %}/admin_home{% endblock %}

{% block nav_links %}
<li><a href="/admin_home" id="nav-dashboard"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
<li><a href="/admin_view_staff" id="nav-staff"><i class="fa-solid fa-hard-hat"></i> Staff</a></li>
<li><a href="/admin_view_users" id="nav-users"><i class="fa-solid fa-users"></i> Users</a></li>
<li><a href="/admin_view_bins" id="nav-bins"><i class="fa-solid fa-trash-can"></i> Bins</a></li>
<li><a href="/admin_view_pickups" id="nav-pickups"><i class="fa-solid fa-truck"></i> Pickups</a></li>
<li><a href="/admin_view_complaints" id="nav-complaints"><i class="fa-solid fa-circle-exclamation"></i> Complaints</a></li>
<li><a href="/admin_send_notification" id="nav-notif"><i class="fa-solid fa-bell"></i> Notify</a></li>
<li><a href="/signout" class="nav-logout" id="nav-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var path = window.location.pathname;
    var links = document.querySelectorAll('.nav-links a');
    links.forEach(function(link) {
      if (link.getAttribute('href') === path) {
        link.classList.add('active');
      }
    });
  });
</script>
{% endblock %}
